<div class="container mt-4">
  <div class="table-header d-flex">
    <h2 class="flex-grow-1">Positions</h2>
    <button *ngIf="showCreateButton" class="btn btn-success mb-3" (click)="openCreateModal()">+ Add Position</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.id }}</td>
        <td>{{ position.name }}</td>
        <td>
          <button *ngIf="showEditButton" class="btn btn-primary btn-sm me-2" (click)="openUpdateModal(position)">Edit</button>
          <button *ngIf="showDeleteButton" class="btn btn-danger btn-sm" (click)="openDeleteModal(position)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Position Modal -->
<app-modal 
  [isOpen] = "isCreateOpen"
  modalTitle="Add new position"
  [fields] = "modalFields"
  [selectedItem]="selectedPosition"
  (save)="onCreate($event)"
  (close)="closeModal()">
</app-modal>

<!-- Update Position Modal -->
<app-modal 
  [isOpen] = "isUpdateOpen"
  modalTitle="Update position"
  [fields] = "modalFields"
  [selectedItem]="selectedPosition"
  (save)="onUpdate($event)"
  (close)="closeModal()">
</app-modal>

<!-- Delete Confirmation Modal -->
<app-modal 
  [isOpen] = "isDeleteOpen"
  modalTitle="Are you sure you want to delete this position?"
  [selectedItem]="selectedPosition"
  (save)="onDelete(selectedPosition?.id)"
  (close)="closeModal()"
  submitBtnText="Confirm"
  [isConfirm]="true">
</app-modal>