<!-- Reusable Modal -->
<div class="modal-overlay" *ngIf="isOpen">
    <div class="modal fade show" [ngClass]="{ 'show': isOpen }" 
     style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle }}</h5>
                    <button (click)="closeModal()" type="button" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="modalForm">
                        <input name="id" id="id" [value]="selectedItem?.id" type="text" hidden>
                        <div class="form-group" *ngFor="let field of fields">
                            <label class="form-label" [for]="field.name">{{ field.label }}</label>
                            <input [formControlName] = "field.name"
                                   class= "form-control" 
                                   [type]="field.type" 
                                   [name]="field.name" 
                                   [placeholder]="field.label" 
                                   [value]="selectedItem?.name"/>
                            <div *ngIf="
                                    modalForm.get('name')?.errors?.['required'] &&
                                    modalForm.get('name')?.touched">
                                <span class="text-danger small">{{field.name | titlecase}} is required.</span>
                            </div>
                            <div *ngIf="
                                    modalForm.get('name')?.errors?.['minlength'] &&
                                    modalForm.get('name')?.touched">
                                <span class="text-danger small">{{field.name | titlecase}} should be at least 3 length.</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" [ngClass]="isConfirm ? 'btn btn-danger' : 'btn btn-primary'" (click)="saveChanges(this.isConfirm)">{{this.isConfirm ? "Delete" : "Save"}}</button>
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>