<div *ngIf="formStatus" class="forgotpassword-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h3>Enter email</h3>
    <div class="form-group mt-4">
      <input type="text" id="email" name="email" formControlName="email" class="form-control" placeholder="Email" />
      <div *ngIf="
            forgotPasswordForm.get('email')?.errors?.['required'] &&
            forgotPasswordForm.get('email')?.touched
          ">
        <span class="text-danger small">email is required.</span>
      </div>
      <div *ngIf="
                forgotPasswordForm.get('email')?.errors?.['email'] &&
                forgotPasswordForm.get('email')?.touched
              ">
        <span class="text-danger small">Enter a valid email</span>
      </div>
    </div>
    <button type="submit" [disabled]="!forgotPasswordForm.valid">
      Send code
    </button>
    <div class="links">
      <a routerLink="/login">Remembered password?</a>
    </div>
  </form>
</div>
<div *ngIf="!formStatus" class="forgotpassword-container">
  <form [formGroup]="securityCodeForm" (ngSubmit)="onSubmit()">
    <h3>Enter security code</h3>
    <div class="form-group mt-4">
      <input type="text" id="securityCode" name="securityCode" formControlName="securityCode" class="form-control" placeholder="Security Code" />
      <div *ngIf="
            securityCodeForm.get('securityCode')?.errors?.['required'] &&
            securityCodeForm.get('securityCode')?.touched">
        <span class="text-danger small">security code is required.</span>
      </div>
    </div>
    <button type="submit" [disabled]="!securityCodeForm.valid">
      Confirm
    </button>
    <div class="links">
      <a routerLink="/login">Remembered password?</a>
    </div>
  </form>
</div>
