<div class="forgotpassword-container">
    <h4>Create New Password</h4>
    <form class="mt-4" [formGroup]="renewPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="password" 
                   id="newPassword" 
                   formControlName="newPassword" 
                   name="newPassword" 
                   class="form-control" 
                   placeholder="New Password"
                   />
            <div *ngIf="
                  renewPasswordForm.get('newPassword')?.errors?.['required'] &&
                  renewPasswordForm.get('newPassword')?.touched
                ">
                <span class="text-danger small">new password is required</span>
            </div>
            <div *ngIf="renewPasswordForm.get('newPassword')?.errors?.['pattern'] &&
                        renewPasswordForm.get('newPassword')?.touched
                          ">
                <span class="text-danger small">
                    required at least one digit.
                </span>
                <br>
                <span class="text-danger small">
                    required at least one uppercase letter.
                </span>
                <br>
                <span class="text-danger small">
                    required at least one special character.
                </span>
                <br>
                <span class="text-danger small">
                    required at least 8 characters long.
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" 
                   id="confirmNewPassword" 
                   formControlName="confirmNewPassword" 
                   name="confirmNewPassword" 
                   class="form-control" 
                   placeholder="Confirm New Password"
                   />
            <div *ngIf="
                          renewPasswordForm.get('confirmNewPassword')?.errors?.['required'] &&
                          renewPasswordForm.get('confirmNewPassword')?.touched
                        ">
                <span class="text-danger small">please confirm new password.</span>
            </div>
            <div *ngIf="passwordsMismatch &&
                        renewPasswordForm.get('confirmNewPassword')?.touched">
                <span class="text-danger small">passwords do not match.</span>
            </div>
        </div>
        <button type="submit" [disabled]="!renewPasswordForm.valid">Renew</button>
        <div class="links">
            <a routerLink="/login">Remembered Password?</a>
        </div>
    </form>
</div>