<div class="home-container">
    <h1>Welcome to Our Application!</h1>

    <p>Choose one of the following actions:</p>

    <div class="links">
        <a routerLink="/employees" class="link">View Employees</a>
        <a routerLink="/login" class="link">Login</a>
        <a routerLink="/register" class="link">Register</a>
        <a routerLink="/forgotpassword" class="link">forgotpassword</a>
        <a routerLink="/departments" class="link">departments</a>
        <a routerLink="/positions" class="link">positions</a>
    </div>
</div>