<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
                <span class="menu-title">Login</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/employees" routerLinkActive="active">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Employees</span>
            </a>
        </li>   
        <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Register</span>
                <i class="menu-arrow"></i>
            </a>    
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="positions">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Positions</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item flex-grow-1">
            <a class="nav-link" routerLink="departments">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">Departments</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="logOut()" routerLinkActive="active">
                <span class="menu-title">Logout</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
