<!-- Reusable Modal
<div class="modal-overlay" *ngIf="isOpen">
    <div class="modal fade show" [ngClass]="{ 'show': isOpen }" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">{{modalTitle}}</h5>
                    <button (click)="closeModal()" type="button" class="btn-close"></button>
                </div>

                <div class="modal-body">
                    <div class="container mt-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr *ngFor="let column of tableColumns">
                                    <th>{{column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of employees">
                                    <td>{{ this.getEmployeeData(employee) }}</td>
                                    <td>{{ employee.na }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->